.btn_container__text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px;
}

.btn_container {
  width: 150px;
  height: 50px;

  background: #fe5f1e;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_container__cart {
  display: flex;
  align-items: center;
}

.btn_container__image {
  margin-left: 13px;
}
