.button {
  height: 32px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #2c2c2c;
  border: none;
  padding: 8px;
  width: 100%;
  margin: 4px 6px;
  cursor: pointer;
}

.active {
  background: #ffffff;
  border: 1px solid;
}

.container {
  width: 260px;
  height: 460px;
  margin-bottom: 30px;
}

.container:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.image {
  width: 260px;
}

.title {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 11px auto 22px;
}

.container__btn {
  background: #f3f3f3;
  border-radius: 10px;
  padding: 7px 5px;
}

.add__block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & span {
    font-weight: bolder;
    font-family: "Proxima Nova";
  }
}

.buttons {
  display: flex;
}

.price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
  font-weight: bolder;
}

@media screen and (max-width: 300px) {
  .image {
    width: 250px;
  }

  .add__block {
    flex-direction: column;
    margin: 10px 0;
    height: 80px;
  }
}
