.logo {
  display: flex;
  align-items: center;
}

.logo__image {
  margin-right: 17px;
}

.logo__title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #181818;
  width: 154px;
}

.description {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7b7b7b;
  margin-left: 5px;
}

@media screen and (max-width: 580px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .description {
    display: none;
  }
}
