@font-face {
  font-family: "Proxima Nova";
  src: url(../public/fonts/proxima_ssv/ProximaNova-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffdf8c;
}

a {
  text-decoration: none;
}

h1,
p {
  font-family: "Proxima Nova";
  font-style: normal;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

button {
  border: none;
  background: none;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.015em;
}

li,
span {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.015em;
  list-style: none;
}

.wrapper {
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
  margin: 50px auto;
  max-width: 1400px;
  width: calc(100vw - 100px);
}

@media screen and (max-width: 645px) {
  .wrapper {
    margin-top: 15px;
    width: calc(100vw - 30px);
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    width: calc(100vw - 7px);
  }
}

@media screen and (max-width: 280px) {
  .wrapper {
    width: 275px;
  }
}
